* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  background: #fff;
  color: #5f76a0;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
}

body img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

header {
  font-size: 2rem;
  text-shadow: 3px 1px 2px #fff;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: linear-gradient(145deg, #16294d, #1a315b);
  box-shadow: 2px 5px 5px #0a1222,
    2px -5px 5px #264a88;
}

form input {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

form button {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

form button {
  color: #fff;
  background: linear-gradient(145deg, #01143b, #011132);
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 2px 5px 5px #000816,
    2px -5px 5px #021e58;
}

form button:hover {
  background: linear-gradient(145deg, #566a90, #667eab);
  box-shadow: 2px 5px 5px #262f40,
    2px -5px 5px #98bdff;
  color: #0a1222;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 350px;
  list-style: none;
  border-radius: 10px;
  overflow: auto;
  height: 400px
}

.todo-list::-webkit-scrollbar, .todo::-webkit-scrollbar {
  width: 8px;
  background-color: #021e58;
  border-radius: 10px;
  box-shadow: inset 0 0 10px #000816;
}

.todo-list::-webkit-scrollbar-thumb, .todo::-webkit-scrollbar-thumb {
  background-color: #264a88;
  box-shadow: inset 0 0 5px #000816;
  border-radius: 10px;
}

.todo {
  margin: 0.5rem auto;
  font-size: 1.5rem;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  box-shadow: 5px 5px 5px #262f40,
    -5px -5px 5px #98bdff;
  transition: all 1s ease;
  border-radius: 5px;
  overflow: auto;
  width: 300px;
}

.filter-todo {
  padding: 1rem;
}

.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: transparent;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.complete-btn {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}

.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
  border-radius: 10px;
  color: #5f76a0;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
  background-color: #fff;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #5f76a0;
  color: #0a1222;
  cursor: pointer;
  pointer-events: none;
}